body{
    overflow-x:hidden!important;
}
.GreyText {
    color: grey;
}
.GreyText:hover {
    color: darkgrey;
}
.bottomMenu {
    text-align: center;
    margin-top: 15px;
    padding-left: 15px;
}
.badge {
    position: absolute;
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #fd1212;
    border-radius: 10px;
}
@media (min-width: 768px) {
    .navbar-nav > li {
        float: left;
    }
}
#searchHeader {
    background: #009688;
    color: white;
    border-width: 1px;
    cursor: pointer;
    font-size: 1.5em;
    margin: 20px auto 1px auto;
    width: 80%;
    transition: background .15s;
}
#searchFilter > div > input {
    margin: 10px 0;
    background: rgba(255, 255, 255, .15);
    padding: 2px 0px 0px 10px;
    border-bottom: none;
}
#searchFilter > div > input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: white;
    text-transform: capitalize;
    font-size: 1.2REM;
}
#searchFilter > div > input::-moz-placeholder { /* Firefox 19+ */
    color: white;
    text-transform: capitalize;
    font-size: 1.2REM;
}
#searchFilter > div > input:-ms-input-placeholder { /* IE 10+ */
    color: white;
    text-transform: capitalize;
    font-size: 1.2REM;
}
#searchFilter > div > input:-moz-placeholder { /* Firefox 18- */
    color: white;
    text-transform: capitalize;
    font-size: 1.2REM;
}
/*.form-control {*/
    /*font-family: roboto;*/
/*}*/

#searchHeader .form-control, #drawerRow .form-control{
    font-family: "FontAwesome";
    color:white;
}
.fields > div, #newActivityRow > .fields {
    outline: 2px solid transparent;
    background: white;
    bottom: 0;
    box-shadow: rgb(224, 224, 224) 0px -1px 0px 0px, rgba(0, 0, 0, 0.117647) 0px 0px 2px 0px, rgba(0, 0, 0, 0.239216) 0px 2px 4px 0px;
    /*box-shadow: 0 5px 15px rgba(0,0,0,.5);*/
}
.fields > div.active,
#newActivityRow > .fields.active,
#newActivityRow.active .fields,
#newFieldRow > .fields.active,
#newFieldRow.active .fields {
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    background-color:white;
}
#newActivityRow > .fields > div,#newFieldRow > .fields > div {
    outline: none;
    box-shadow: none;
}
.fields > div > h6 {
    width: 104%;
    margin: 10px 0 10px -2%;
    padding: 0 0 3px 1%;
}
.fields > div ul.controls {
    float: right;
    margin-bottom: 0px;
}
.fields > div ul.controls li {
    float: right;
    display: inline;
    color: #999;
    padding: 3px;
}
.fields > div ul.data-rows {
    border-top: 1px solid #d8d8d8;
    padding-top: 1REM;
}
.data-rows li {
    line-height: 2REM;
}
.addNewActivityFields::after,.childFields::after,.data-rows li.activityFields::after{
    content:",";
}
.addNewActivityFields.last::after,.childFields.last::after,.data-rows li.activityFields.last::after,li.activityFields.last::after{
    content:"";
}
.fields > div ul.data-rows .label {
    color: #666;
    font-size: .9REM;
    display: inline-block;
    text-align: left;
}
@media(min-width:1200px){
    .fields > div ul.data-rows .field {
        width: 74%;
        float: right;
    }
    .fields > div ul.data-rows .label {
        width: 25%;
    }
}
@media(max-width:1200px){
    .fields > div ul.data-rows .field {
        width: 60%;
        float: right;
    }
    .fields > div ul.data-rows .label {
        width: 40%;
    }
}
.fields > div ul.data-rows .field input {
    width: 100%
}
.fields > div.active {
    margin: 20px -2%;
    width: 105%;
}
/*#searchFilter input:focus {*/
    /*color: white;*/
    /*font-family: roboto;*/
/*}*/
/*#searchFilter input{*/

    /*font-family: "FontAwesome"*/
/*}*/
.fieldControls {
    padding-top: 6px;
}
#activitiesData .active .fieldControls h6 {
    margin-top: 0.5REM;
}
#activitiesData .fieldControls h6 {
    margin-top: 0px;
}
.animate-hide {
    transition: all linear 0.5s;
    line-height: 20px;
    opacity: 1;
}
.animate-hide.ng-hide {
    line-height: 0;
    line-height: 0px;
    opacity: 0;
}
#addRow {
    font-size: 4REM;
    color: #673AB7;
    cursor: pointer;
    position: fixed;
    bottom: 2%;
    left: 2%;
}
#newFieldRow {
    position: fixed;
    bottom: 0;
    width: 100%;

}
#newFieldRow.animate-hide.ng-hide {
    height: 0;
}
#newActivityRow {
    position: fixed;
    bottom: 0;
    width: 100%;

}
#newActivityRow.animate-hide.ng-hide {
    height: 0;
}
#drawerRow {
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: white;
    width: 30%;
    display: block;
    height: 94%;
    overflow-y: scroll;
    overflow-x: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}
#showDrawer {
    position: fixed;
    bottom: 3.5%;
    right: 2%;
}
.data-rows .label{
    text-transform: capitalize;
}
#showDrawer span {
    font-size: 2REM;
    color: #795548;
    cursor: pointer;
    position: relative;
    left: 2px;
}
#showDrawer i.fa-times-circle {
    font-size: 4REM;
    color: #795548;
    cursor: pointer;
}
#showDrawer .fa-arrow-left {
    color: white;
}
#showDrawer i.fa-arrow-circle-right {
    font-size: 4REM;
    color: #795548;
    cursor: pointer;
}
input.roboto{
    font-family:roboto;
}
input#searchFields{
    padding: 1% 5%;
    color: white;
}
input#searchFields::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: white;
    text-transform: capitalize;
    font-size: 1.2REM;
}
input#searchFields::-moz-placeholder { /* Firefox 19+ */
    color: white;
    text-transform: capitalize;
    font-size: 1.2REM;
}
input#searchFields:-ms-input-placeholder { /* IE 10+ */
    color: white;
    text-transform: capitalize;
    font-size: 1.2REM;
}
input#searchFields:-moz-placeholder { /* Firefox 18- */
    color: white;
    text-transform: capitalize;
    font-size: 1.2REM;
}
#drawerRow .fa-plus-square{
    font-size:2.5REM;
    color: silver;
}
#drawerRow .fa-times {
    font-size:2REM;
    color: white;
    position: relative;
    right: 25px;
}
#drawerRow .searchFieldsControls{
    text-align: center;
}
#drawerRow #searchFieldsControls1 .fa-plus-square{
    padding: 10px 0 0 0px;
}
#drawerRow #searchFieldsControls1 .fa-stack{
    position: relative;
    bottom: 8px;
}
#drawerRow #searchFieldsControls2{
    position: relative;
    top: 8px;
}
#drawerRow input#searchFields{
    background-color: silver;

    padding-left: 15px;
    padding-right: 20px;
    border-radius: 23px;
}
#searchFields-wrap {
    padding: 5px 0px 0px 1%
}