<style>


</style>
<div id="searchHeader" class="row">
    <div class="col-md-2 col-sm-2 col-xs-2 col-lg-2" style="padding:7px 20px;">
        <h5>Activities</h5>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
        <div id="searchFilter" class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
                <input
                        ng-model="selected"
                        uib-typeahead="items.name for items in fields | filter:$viewValue | limitTo:8"
                        class="form-control"
                        aria-label="Search"
                        placeholder="&#xf002;"
                        aria-autocomplete="both"
                        aria-haspopup="true"
                        spellcheck="false"
                        type="text"
                        tabindex="0">
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-2 col-lg-2"></div>
</div>

<div id="fieldsData" class="row">
    <div class="col-md-2 col-sm-2 col-xs-2 col-lg-2"></div>
    <div class="col-md-8 col-sm-8 col-xs-8 col-lg-8">
        <div class="fields" class="row">
            <div
                    ng-repeat="items in fields | filter:selected"
                    class="col-md-12 col-sm-12 col-xs-12 col-lg-12 animate-hide {{items.hide?'':'active'}}"
            >

                <div class="row fieldControls">
                    <div class="col-md-9 col-sm-9 col-xs-9 col-lg-9">
                        <h6 ng-click="items.hide=!items.hide">{{items.name}}</h6>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
                        <ul class="controls" ng-hide="items.hide">
                            <li ng-hide="items.hide">
                                <i ng-click="items.edit=!items.edit" class="fa fa-pencil-square fa-2x"
                                   aria-hidden="true"></i>
                            </li>
                            <li ng-hide="items.hide">
                                <i class="fa fa-minus-square fa-2x" style="color:#D50000;" aria-hidden="true"></i>
                            </li>
                            <li ng-hide="items.hide">
                                <i ng-click="submitChanges(items)" ng-hide="!items.edit"
                                   class="fa fa-paper-plane fa-2x" aria-hidden="true" style="color:#4CAF50;"></i>
                            </li>
                        </ul>
                    </div>
                </div>

                <ul class="animate-hide data-rows" ng-hide="items.hide">
                    <li>
                        <span class="label">instructions</span>
                        <span ng-hide="items.edit" class="field">{{items.instructions}}</span>
                        <span ng-hide="!items.edit" class="field">
                        <input ng-model="items.instructions"/>
                       </span>
                    </li>
                    <li>
                        <span class="label">displayName</span>
                        <span ng-hide="items.edit" class="field">{{items.displayName}}</span>
                        <span ng-hide="!items.edit" class="field">
                        <input ng-model="items.displayName"/>
                       </span>
                    </li>
                    <li><span class="label">canBeAutomated</span>
                        <span ng-hide="items.edit" class="field">{{items.canBeAutomated}}</span>
                        <span ng-hide="!items.edit" class="field">
                        <input ng-model="items.canBeAutomated"/>
                       </span>
                    </li>
                    <li><span class="label">categoryId</span>
                        <span ng-hide="items.edit" class="field">{{items.categoryId}}</span>
                        <span ng-hide="!items.edit" class="field">
                        <input ng-model="items.categoryId"/>
                       </span>
                    </li>
                    <li><span class="label">categoryName</span>
                        <span ng-hide="items.edit" class="field">{{items.categoryName}}</span>
                        <span ng-hide="!items.edit" class="field">
                        <input ng-model="items.categoryName"/>
                       </span>
                    </li>
                    <li><span class="label">createdById</span>
                        <span ng-hide="items.edit" class="field">{{items.createdById}}</span>
                        <span ng-hide="!items.edit" class="field">
                        <input ng-model="items.createdById"/>
                       </span>
                    </li>
                    <li><span class="label">createdDate</span>
                        <span ng-hide="items.edit" class="field">{{items.createdDate}}</span>
                        <span ng-hide="!items.edit" class="field">
                        <input ng-model="items.createdDate"/>
                       </span>
                    </li>
                    <li><span class="label">modifiedById</span>
                        <span ng-hide="items.edit" class="field">{{items.modifiedById}}</span>
                        <span ng-hide="!items.edit" class="field">
                        <input ng-model="items.modifiedById"/>
                       </span>
                    </li>
                    <li><span class="label">modifiedDate</span>
                        <span ng-hide="items.edit" class="field">{{items.modifiedDate}}</span>
                        <span ng-hide="!items.edit" class="field">
                        <input ng-model="items.modifiedDate"/>
                        </span>
                    </li>
                </ul>

            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-2 col-lg-2"></div>
</div>

<div id="newFieldRow" ng-hide="hideNew" class="row animate-hide {{hideNew!=false?'':'active'}}">
    <div class="col-md-2 col-sm-2 col-xs-2 col-lg-2"></div>
    <div class="fields col-md-5 col-sm-5 col-xs-5 col-lg-5">
        <div>

            <div id="newField">
                <div class="row fieldControls">
                    <div class="col-md-7 col-sm-7 col-xs-7 col-lg-7">
                        <h6>New Field</h6>
                    </div>
                    <div class="col-md-5 col-sm-5 col-xs-5 col-lg-5">
                        <ul class="controls">
                            <li>
                                <i ng-click="clearNew()" class="fa fa-trash fa-2x" style="color:#D50000;"
                                   aria-hidden="true"></i>
                            </li>
                            <li>
                                <i ng-click="postNew()"
                                   class="fa fa-paper-plane fa-2x"
                                   aria-hidden="true"
                                   style="color:#4CAF50;"></i>
                            </li>
                        </ul>
                    </div>
                </div>
                <ul class="animate-hide data-rows">
                    <li>
                        <span class="label">instructions</span>
                        <span class="field">
                        <input ng-model="newField.instructions"/>
                       </span>
                    </li>
                    <li>
                        <span class="label">displayName</span>
                        <span class="field">
                        <input ng-model="newField.displayName"/>
                       </span>
                    </li>
                    <li><span class="label">canBeAutomated</span>
                        <span class="field">
                        <input ng-model="newField.canBeAutomated"/>
                       </span>
                    </li>
                    <li><span class="label">categoryId</span>
                        <span class="field">
                        <input ng-model="newField.categoryId"/>
                       </span>
                    </li>
                    <li><span class="label">categoryName</span>
                        <span class="field">
                        <input ng-model="newField.categoryName"/>
                       </span>
                    </li>
                    <li><span class="label">createdById</span>
                        <span class="field">
                        <input ng-model="newField.createdById"/>
                       </span>
                    </li>
                    <li><span class="label">createdDate</span>
                        <span class="field">
                        <input ng-model="newField.createdDate"/>
                       </span>
                    </li>
                    <li><span class="label">modifiedById</span>
                        <span class="field">
                        <input ng-model="newField.modifiedById"/>
                       </span>
                    </li>
                    <li><span class="label">modifiedDate</span>
                        <span class="field">
                        <input ng-model="newField.modifiedDate"/>
                        </span>
                    </li>
                </ul>
            </div>
        </div>


    </div>
    <div class="col-md-5 col-sm-5 col-xs-5 col-lg-5"></div>
</div>

<div id="addRow" class="row">
    <div class="col-md-2 col-sm-2 col-xs-2 col-lg-2">
        <i
                class="fa {{addSymbol}}"
                ng-mouseleave="addMouseLeave()"
                ng-mouseover="addMouseOver()"
                ng-click="hideNew=!hideNew"
                aria-hidden="true">
        </i>
    </div>
    <div class="col-md-10 col-sm-10 col-xs-10 col-lg-10"></div>
</div>

<div id="drawerRow" ng-hide="hideDrawer" class="row animate-hide {{hideDrawer!=false?'':'active'}}">
    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
        <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-8 col-lg-8" ng-hide="!hideFieldSearch">
                <h5 ng-click="showFieldSearch()">Available Fields</h5>
            </div>
            <div id="searchFieldsControls1" class="searchFieldsControls col-md-4 col-sm-4 col-xs-4 col-lg-4" ng-hide="!hideFieldSearch">
                <span class="fa-stack fa-lg" ng-click="showFieldSearch()">
                  <i class="fa fa-circle fa-stack-2x" style="color:silver;"></i>
                  <i class="fa fa-search fa-stack-1x fa-inverse"></i>
                </span>
                <span><i class="fa fa-plus-square" aria-hidden="true"></i></span>
            </div>

                <div id="searchFields-wrap" ng-hide="hideFieldSearch" class="col-md-8 col-sm-8 col-xs-8 col-lg-8">
                    <input ng-model="searchFields"
                            uib-typeahead="items.name for items in fields | filter:$viewValue | limitTo:8"
                            class="form-control"
                            aria-label="Search"
                            placeholder="&#xf002;"
                            aria-autocomplete="both"
                            aria-haspopup="true"
                            spellcheck="false"
                            type="text"
                            tabindex="0"
                    id="searcFields">
                </div>
                <div  ng-hide="hideFieldSearch"
                        id="searchFieldsControls2"
                        class="searchFieldsControls col-md-4 col-sm-4 col-xs-4 col-lg-4">
                    <i class="fa fa-times"
                       ng-hide=""
                       ng-mouseleave=""
                       ng-mouseover=""
                       ng-click="closeFieldsSearch()"
                       aria-hidden="true"
                       style="">
                    </i>
                    <span><i class="fa fa-plus-square"
                             ng-hide=""
                             ng-mouseleave=""
                             ng-mouseover=""
                             ng-click=""
                             aria-hidden="true"
                             aria-hidden="true"></i></span>
                    </div>

        </div>
        <div class="fields" class="row">
            <div
                    ng-repeat="items in fields | filter:searchFields"
                    class="col-md-12 col-sm-12 col-xs-12 col-lg-12 animate-hide {{items.hide?'':'active'}}"
            >
                <div class="row fieldControls">
                    <div class="col-md-9 col-sm-9 col-xs-9 col-lg-9">
                        <h6 ng-click="items.hide=!items.hide">{{items.name}}</h6>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
                        <ul class="controls" ng-hide="items.hide">
                            <li ng-hide="items.hide">
                                <i ng-click="items.edit=!items.edit" class="fa fa-pencil-square fa-2x"
                                   aria-hidden="true"></i>
                            </li>
                            <li ng-hide="items.hide">
                                <i class="fa fa-minus-square fa-2x" style="color:#D50000;" aria-hidden="true"></i>
                            </li>
                            <li ng-hide="items.hide">
                                <i ng-click="submitChanges(items)" ng-hide="!items.edit"
                                   class="fa fa-paper-plane fa-2x" aria-hidden="true" style="color:#4CAF50;"></i>
                            </li>
                        </ul>
                    </div>
                </div>

                <ul class="animate-hide data-rows" ng-hide="items.hide">
                    <li>
                        <span class="label">instructions</span>
                        <span ng-hide="items.edit" class="field">{{items.instructions}}</span>
                        <span ng-hide="!items.edit" class="field">
                        <input ng-model="items.instructions"/>
                       </span>
                    </li>
                    <li>
                        <span class="label">displayName</span>
                        <span ng-hide="items.edit" class="field">{{items.displayName}}</span>
                        <span ng-hide="!items.edit" class="field">
                        <input ng-model="items.displayName"/>
                       </span>
                    </li>
                    <li><span class="label">canBeAutomated</span>
                        <span ng-hide="items.edit" class="field">{{items.canBeAutomated}}</span>
                        <span ng-hide="!items.edit" class="field">
                        <input ng-model="items.canBeAutomated"/>
                       </span>
                    </li>
                    <li><span class="label">categoryId</span>
                        <span ng-hide="items.edit" class="field">{{items.categoryId}}</span>
                        <span ng-hide="!items.edit" class="field">
                        <input ng-model="items.categoryId"/>
                       </span>
                    </li>
                    <li><span class="label">categoryName</span>
                        <span ng-hide="items.edit" class="field">{{items.categoryName}}</span>
                        <span ng-hide="!items.edit" class="field">
                        <input ng-model="items.categoryName"/>
                       </span>
                    </li>
                    <li><span class="label">createdById</span>
                        <span ng-hide="items.edit" class="field">{{items.createdById}}</span>
                        <span ng-hide="!items.edit" class="field">
                        <input ng-model="items.createdById"/>
                       </span>
                    </li>
                    <li><span class="label">createdDate</span>
                        <span ng-hide="items.edit" class="field">{{items.createdDate}}</span>
                        <span ng-hide="!items.edit" class="field">
                        <input ng-model="items.createdDate"/>
                       </span>
                    </li>
                    <li><span class="label">modifiedById</span>
                        <span ng-hide="items.edit" class="field">{{items.modifiedById}}</span>
                        <span ng-hide="!items.edit" class="field">
                        <input ng-model="items.modifiedById"/>
                       </span>
                    </li>
                    <li><span class="label">modifiedDate</span>
                        <span ng-hide="items.edit" class="field">{{items.modifiedDate}}</span>
                        <span ng-hide="!items.edit" class="field">
                        <input ng-model="items.modifiedDate"/>
                        </span>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>

<div id="showDrawer" class="row ">
    <div class="col-md-2 col-sm-2 col-xs-2 col-lg-2">
        <span class="fa-stack fa-lg"
              ng-hide="!hideDrawer">
          <i class="fa fa-square fa-stack-2x"></i>
          <i class="fa {{drawerSymbol}} fa-stack-1x fa-inverse"
             ng-mouseleave="drawerMouseLeave()"
             ng-mouseover="drawerMouseOver()"
             ng-click="hideDrawer=!hideDrawer"
             aria-hidden="true"
          ></i>
        </span>

        <i
                class="fa {{closeDrawerSymbol}}"
                ng-hide="hideDrawer"
                ng-mouseleave="closeDrawerMouseLeave()"
                ng-mouseover="closeDrawerMouseOver()"
                ng-click="showDrawerClose()"
                aria-hidden="true">
        </i>

    </div>
    <div class="col-md-10 col-sm-10 col-xs-10 col-lg-10"></div>
</div>