<div class="container">
    <div class="row">
        <div class="col-md-12 hidden-xs">
            <h4>Please login on the right to access Prometheus&copy;</h4>
        </div>
        <div class="col-md-8  hidden-xs">
            <div class="card" style="height: 425px;">

                <!--Card image-->
                <img class="img-fluid" src="img/research.jpg" alt="Research Background">
                <!--/.Card image-->
                <!--Card content-->
                <div class="card-block">
                    <!--Title-->
                    <!--Text-->
                    <p class="card-text" style="margin-left: 15px; margin-top: 10px; margin-right: 10px;">
                        For more information on how Prometheus<sup style="font-size: 8pt    ;">&copy;</sup> can accelerate your research, please click the more info button <a href="#" class="btn btn-primary pull-right">More Info</a>
                    </p>

                </div>
                <!--/.Card content-->

            </div>

        </div>
        <div class="col-md-4">
            <div class="card" style="height: 425px;">
                <div class="card-block">
                    <div style="padding: 25px;">
                        <img src="img/mda-logo.jpg" style="width: 100%;" />
                        <p />
                        <form style="margin-top: 25px;">
                            <div class="form-group">

                                <input type="text" class="form-control" id="username" ng-model="user.userName" placeholder="User Name">
                            </div>
                            <div class="form-group">

                                <input type="password" class="form-control" id="password" ng-model="user.password" placeholder="Password">
                            </div>
                            <div class="pull-right">
                                <img src="img/myid-icon.jpg" height="50" />
                                <a class="btn primary-rounded-outline waves-effect" ng-click="login()">Login</a>
                            </div>
                        </form>
                        <div style="clear:both"></div>
                        <p style="margin-top: 20px;">Not a user? <a href="/RequestAccount.html">Request Access</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <p>
                <strong>UNAUTHORIZED USE OF THIS COMPUTER SYSTEM IS PROHIBITED.</strong>
                <br>This computer system is the property of the State of Texas and The University of Texas MD Anderson Cancer Center (UTMDACC). It may be used only as authorized by UTMDACC. Individuals accessing or using this computer system have no expectation of privacy with respect to such access or usage except as may otherwise be provided by applicable privacy laws. Pursuant to Texas Administrative Code Section 202.7, usage is subject to security testing and monitoring as appropriate, and misuse is subject to criminal prosecution. Report any suspected unauthorized activity to the Information Security Department at 713-745-9000.
            </p>
            <br />
            <p>
                <strong>Need Assistance or Having Password Issues?</strong>
                <br>
                Please contact 4-INFO (x44636) or use our <a href="https://passwordreset.mdanderson.org/pmf/ForgottenPassword/Login.html">Password Self Service Portal</a>.
            </p>
            <br />
            <p>
                <strong>WARNING</strong>:
                <br>
                Protect your privacy! Prevent unauthorized use! Completely exit your Web browser when you are finished.
            </p>
            <p>
                <small>Copyright &#169; 2016<br />The University of Texas MD Anderson Cancer Center</small>
            </p>
        </div>
    </div>
</div>